.cash-icon {
  width: 6%;
}

.header {
  background-color: rgb(0, 0, 0);
  height: 20rem;
}
.cash-title {
  text-shadow: 1px 1px 0px rgb(184, 54, 201);
  color: rgb(131, 34, 131);
  font-size: 4rem;
}
/*------------------------------------------------*/
.input {
  text-align: center;
  padding: 15px;
  outline: none;
  border: double 0;
  background: #edebeb;
  border-radius: 67px;
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 2rem;
  color: #ff54e5;
}

input::placeholder {
  color: #ff54e5;
  opacity: 0.6;

  font-size: 1.2em;
  font-style: italic;
}

/*------------------------------------------------*/
.btn-cash {
  background-color: black;
  display: inline-block;
  padding: 0.625rem 0.625rem;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn-history {
  background-color: rgb(143, 40, 143);
  display: inline-block;
  padding: 0.625rem 0.625rem;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#showCash {
  font-size: 4rem;
  color: rgb(131, 34, 131);
}

.list {
  border-radius: 0.375rem;
  max-width: 50%;
}

.table {
  background-color: #edebeb;
  border-radius: 1.5rem;
  border: none;
}
